body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Смещение полей ввода влево */
  margin-top: 20px;
}

.add-tab {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-tab:hover {
  background-color: #0056b3;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.tab {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.tab.active {
  border: 2px solid #00FF00; /* Зеленая обводка для активной вкладки */
  background-color: #333333;
}

.tab button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px; /* Уменьшение размера крестика */
  height: 20px;
  cursor: pointer;
}

.tab button::before {
  content: '✖'; /* Крестик вместо текста */
  font-size: 14px;
}

.tab button:hover {
  background-color: darkred;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.comments-field {
  width: 45%;
}

input[type="text"],
textarea {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  height: 150px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #00FF00;
}

button.save-params {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button.save-params:hover {
  background-color: #218838;
}

.column {
  display: inline-block;
  width: 200px;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.column h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

.bank {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.bank:hover {
  background-color: #444444;
}
